exports.getAppConfig = function () {
  configValues = {
    domain: '{{ inventory_hostname }}',

    secret: '{{ pepyatka_secret }}',
    saltSecret: '{{ pepyatka_secret_salt }}',
    port: 3000,
    loggerLevel: 'info',
    remoteUser: false
  }

  return configValues;
}

exports.getHTMLClientConfig = function() {
  return {
    origin: 'http://localhost:3333'
  }
}

exports.getMailerConfig = function() {
  return {
    domain: '{{ inventory_hostname }}',

    host: "host",
    secureConnection: true,
    port: 465,

    sendFromName: 'from_address',
    sendFromEmail: 'email_address',
    serviceEmail: 'email_address',
    servicePass: 'password'
  }
}

exports.getRedisConfig = function() {
  serverOptions = {
    host: 'localhost',
    port: 6379,
    options: {}
  }

  return serverOptions;
}

exports.getElasticSearchConfig = function() {
  serverOptions = {
    host: 'localhost',
    port: 9200
  }

  return serverOptions;
}

exports.isAnonymousPermitted = function() {
  var isPermitted = true;

  return isPermitted;
}

exports.getWordWhichEqualHashTag = function() {
  var wordWhichEqualHashTag = 'hashtagsym';

  return wordWhichEqualHashTag;
}

exports.getStatisticsTopCount = function() {
  var topCount = 20

  return topCount
}
