"use strict";

var nodemailer = require('nodemailer')
{% if pepyatka_mailer_smtp_enabled %}
var transport = require('nodemailer-smtp-transport')
{% else %}
var transport = {
  name: 'minimal',
  version: '0.1.0',
  send: function(mail, callback) {
    var input = mail.message.createReadStream();
    input.pipe(process.stdout);
    input.on('end', function() {
      callback(null, true)
    })
  }
}
{% endif %}

exports.getConfig = function() {
  var config = {
    port: 3000,
    database: 2,

    secret: '{{ pepyatka_secret }}',

    origin: '{{ pepyatka_origin }}',

    serviceName: '{{ pepyatka_service_name }}',
    appRoot: '{{ pepyatka_home_dir}}/pepyatka-server',
    acceptHashedPasswordsOnly: {{ pepyatka_accept_hashed_passwords_only }}
  }

  config.application = {
    USERNAME_STOP_LIST: [
      'anonymous', 'public', 'about', 'signin', 'logout',
      'signup', 'filter', 'settings', 'account', 'groups',
      'friends', 'list', 'search', 'summary', 'share', '404',
      'iphone'
    ]
  }

  config.attachments = {
    // Make sure that all directories here have a trailing slash
    urlDir: '{{ pepyatka_frontend_scheme }}://{{ pepyatka_hostname}}/attachments/original/',
    fsDir: '{{ pepyatka_files_dir }}/original/',
    fileSizeLimit: '{{ pepyatka_file_size_limit }}',

    thumbnails: {
      urlDir: '{{ pepyatka_frontend_scheme }}://{{ pepyatka_hostname}}/attachments/thumbnails/',
      fsDir: '{{ pepyatka_files_dir }}/thumbnails/'
    }
  }

  config.profilePictures = {
    urlDir: '{{ pepyatka_frontend_scheme }}://{{ pepyatka_hostname}}/files/profilePictures/',
    fsDir: '{{ pepyatka_files_dir }}/profilePictures/'
  }

  config.mailer = {
    transport: transport,
    fromName: '{{ pepyatka_mailer_from_name }}',
    fromEmail: '{{ pepyatka_mailer_from_email }}',
    resetPasswordMailSubject: '{{ pepyatka_service_name }} password reset',
    host: '{{ pepyatka_frontend_scheme }}://{{ pepyatka_hostname}}',
    options: {
{% if pepyatka_mailer_smtp_enabled %}
      host: '{{ pepyatka_mailer_smtp_host }}',
      port: {{ pepyatka_mailer_smtp_port }},
      secure: {{ pepyatka_mailer_smtp_secure }},
      auth: {
          user: '{{ pepyatka_mailer_smtp_user }}',
          pass: '{{ pepyatka_mailer_smtp_pass }}'
      }
{% endif %}
    }
  }

  config.redis = {
    host: '{{ pepyatka_redis_host }}',
    port: {{ pepyatka_redis_port }}
  }

  return config
}
