/var/log/pepyatka/* {
  size 1M
  rotate 7
  missingok
  notifempty
  compress
  delaycompress
  sharedscripts
}

{{ pepyatka_home_dir }}/pepyatka-server/log/* {
  su {{ pepyatka_user }} {{ pepyatka_group }}
  size 1M
  rotate 7
  missingok
  notifempty
  compress
  delaycompress
  sharedscripts
}
