# pepyatka-server instance
#

description "pepyatka-server instance"

start on startup
start on runlevel [2345]
stop on runlevel [016]

respawn
respawn limit 5 30

env NODE_PATH=/usr/lib/node_modules
env NODE_ENV={{ pepyatka_node_env }}
env PEPYATKA_SERVER_PORT={{ item }}
env APPLICATION=pepyatka-server/index.js
env LOG_DIR=/var/log/pepyatka

pre-start script
    mkdir -p $LOG_DIR
end script

exec start-stop-daemon --start --chuid {{ pepyatka_user }} --chdir {{ pepyatka_home_dir }} --make-pidfile --pidfile /var/run/pepyatka-{{ item }}.pid --exec /usr/bin/iojs -- $APPLICATION >> ${LOG_DIR}/${PEPYATKA_SERVER_PORT}.out 2>&1

post-start script
    echo "pepyatka-server started on port $PEPYATKA_SERVER_PORT"
end script

